# (replace with your key)
OPENAI_API_KEY=sk-XXX

# (replace with gpt-3.5-turbo (? i believe this is the model name) if you don't have gpt4 api access)
OPENAI_MODEL=gpt-4

# GPT4 pricing per 1k tokens as of 4/12/2023
MODEL_PRICE_PER_TOKEN_PROMPT=0.030
MODEL_PRICE_PER_TOKEN_COMPLETION=0.060

# comment out to disable following flags
# DBUG=1 
# OFFLINE=1 