html,
body {
  justify-content: space-between;
  position: relative;
  background-color: #008080;
  /* Windows 95 green background */
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "MS Sans Serif", 'Microsoft Sans Serif', Geneva, sans-serif;
}

#right-pane,
#left-pane {
  max-width: 95vw;
  max-height: 95vh;
  width: 800px;
  height: 600px;
}


#left-pane {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

#right-pane {
  position: absolute;
  top: 15vh;
  left: 15vw;
}

#right-pane .content {
  overflow-y: scroll;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#left-pane img {
  width:100%;
  height: auto;
  box-sizing: border-box;
  background-color: #222;
  background-size: 50% 50%;
  background-position: center;
}

#messages {
  margin-right: 14px;
}

#address-bar {
  width: 90%;
  padding: 0.3em;
  margin: 0.3em 0 0.3em 0;
  background-color: white;
}

#browser {
  padding: 5px;
  padding-bottom: 1em;
}

.message {
  padding: 2.5em 5px 10px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #000000EE;
  margin-bottom: 1em;
  border: 1px solid black;
  border-width: 0 0 6px 4px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
}

.message:hover {
  background-color: black;
}

.role-assistant {
  color: rgb(151, 235, 25);
  border-color: rgb(151, 235, 25);
}

.role-user {
  color: rgb(195, 225, 236);
  border-color: rgb(195, 225, 236);
  ;
}

.role-system {
  color: #ff7f00;
  border-color: #ff7f00;
}

.role-error {
  color: #b41800;
  border-color: #b41800;
  background-color: #320d07;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(195, 225, 236);
  ;
  border-radius: 0 0 5px 0;
  padding: .3em;
  color: black;
  opacity: .5;
}

.message:hover .badge {
  opacity: 1;
}

.badge-assistant {
  background-color: rgb(151, 235, 25);
  ;
}

.badge-system {
  background-color: #ff7f00;
}

.badge-error {
  background-color: #b41800;
}

#answer {
  width: 60vw;
  height: 20vh;
  position: absolute;
  top: 40vh;
  left: 20vw;
  z-index: -9000;
  overflow-y: scroll;
}

#answer-text {
  overflow-y: scroll;
  max-height: 15vh;
}


/* Basic windows 95 style window decoration */
.window {
  border: 1px solid #828282;
  border-top-color: white;
  border-left-color: white;
  background-color: #C0C0C0;
  padding: 2px;
  padding-bottom: 1em;
  box-shadow: 1px 1px 0px #000000;
  box-shadow: -1px -1px 0px 1px #828282;
  display: flex;
  flex-direction: column;

}

.window-title {
  background-color: #000080;
  color: #FFFFFF;
  padding: 5px 9px;
  font-weight: bold;
  border: 1px solid #c3c3c3;
}

.window .content,
.toolbar,
.status-bar {
  padding: 10px;
}

.status-bar {
  border-top: 2px solid #dfdfdf;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.toolbar .address-bar {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
}

.button {
  border: 1px solid #828282;
  border-top: 1px solid white;
  border-left: 1px solid white;
  box-shadow: 1px 1px 0px #000000;

}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.resize-handle {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  background-image: url(resize-handle.png);
  background-size: contain;
  width: 20px;
  background-position: bottom right;
  margin-right: 2px;
  margin-bottom: 2px;
  opacity: .5;
}

.resize-handle:hover {
  opacity: 1;
}